.carousel-food{
    margin: 0;
    padding-top: 1rem;
}

.image-carousel{
    width: 100%;
    height: 40rem!important;
    animation-delay: 3s;
    animation: bluranimate 8s infinite ease-out;
}

* {
  box-sizing: border-box;
}

.carousel-caption{
  padding-bottom: 16rem;
}

.carousel-caption h1 {
  color: #665A48;
  font-family: tahoma;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.5;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

h1 span {
  font-size: 40px;
  margin-left: 40px;
}

.message {
  background-color: #DAB88B;
  color: #333;
  border-radius: 1rem;
  display: block;
  font-weight: 700;
  overflow: hidden;
  position: absolute;
  padding-left: 0.5rem;
  top: 0.2rem;
  left: 270px;
  animation: openclose 8s infinite ease-out;
}

.word1{
  font-family: tahoma;
}

@keyframes bluranimate{
  0%{
    -webkit-filter: blur(0px); /* Safari 6.0 - 9.0 */
    filter: blur(0px);
  }
  10%{
    -webkit-filter: blur(0.5px); /* Safari 6.0 - 9.0 */
    filter: blur(05px);
  }
  40%{
    -webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
    filter: blur(3px);
  }
  100%{
    -webkit-filter: blur(6px); /* Safari 6.0 - 9.0 */
    filter: blur(6px);
  }
}

@keyframes openclose {
  0% {
    top: 0.2rem;
    width: 0;
  }
  10% {
    width: 0;
  }
  40% {
    top: 0.2rem;
    width: 40rem;
  }
  60% {
    top: 0.2rem;
    width: 40rem;
  }
  100% {
    width: 0;
  }
}
