.carousel-food{
    margin: 1rem 0;
    padding-top: 1rem;
}

.image-carousel{
    width: 100%;
    height: 40rem!important;
    animation-delay: 3s;
    animation: bluranimate 8s infinite ease-out;
}

* {
  box-sizing: border-box;
}

.carousel-caption{
  padding-bottom: 16rem;
}

.carousel-caption h1 {
  color: #665A48;
  font-family: tahoma;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.5;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

#container {
  color:#999;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight:bold;
  padding-top: 10rem;  
  position:relative;
  width:100%;
  bottom:45%;
  display:block;
}

#flip {
  height: 5rem;
  overflow:hidden;
}

#flip > div > div {
  color:#fff;
  padding: 4px 12px;
  height: 4rem;
  margin-bottom: 3rem;
  display:inline-block;
}

#flip div:first-child {
  animation: show 8s infinite ease-out;
}


@keyframes show {
  0% {margin-top: 10rem;}
  33% {margin-top:0px;}
  66% {margin-top:0px;}
  100% {margin-top: 10rem;}
}

#container p {
  position:relative;
  width:100%;
  bottom:30px;
  font-size:12px;
  color:#999;
  margin-top: 10rem;
}

@keyframes bluranimate{
  0%{
    -webkit-filter: blur(0px); /* Safari 6.0 - 9.0 */
    filter: blur(0px);
  }
  10%{
    -webkit-filter: blur(0.5px); /* Safari 6.0 - 9.0 */
    filter: blur(05px);
  }
  40%{
    -webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
    filter: blur(3px);
  }
  100%{
    -webkit-filter: blur(6px); /* Safari 6.0 - 9.0 */
    filter: blur(6px);
  }
}

@keyframes openclose {
  0% {
    top: 0.2rem;
    width: 0;
  }
  10% {
    width: 0;
  }
  40% {
    top: 0.2rem;
    width: 40rem;
  }
  60% {
    top: 0.2rem;
    width: 40rem;
  }
  100% {
    width: 0;
  }
}
