#curve-detail {
  margin-top: 30px;
  width: 50%;
  height: 90%;
}

.food-info {
  margin: 10px;
  padding: 1%;
  font-size: 24px;
}

.horizontal-line {
  color: rgb(255, 145, 0);
  background-color: rgb(255, 145, 0);
  height: 3px;
  width: 60%;
  margin: auto;
}

.Ci-Minus {
  font-size: 30px;
  font-weight: 800;
  color: goldenrod;
}

.Ci-Plus {
  font-size: 30px;
  font-weight: 800;
  color: goldenrod;
}

.input-number {
  width: 10%;
}

.order-number-food h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: goldenrod;
  text-align: right;
}

.food-info h4 {
  margin: 1rem;
  background-color: #e6cba8;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid #9ba17b;
}

.food-btn {
  display: flex;
  margin: auto;
  justify-content: center;
  margin-top: 100px;
  font-size: 24px;
  font-family: ui-monospace;
  font-weight: 600;
  background-color: goldenrod;
}

#food-button {
  padding: 100px 0px 50px;
  margin-left: 35%;
}

.food-info h4 b{
  width: 15rem;
}
