@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@500&family=Montserrat:wght@300;500;700&family=Nunito+Sans:wght@600;800&display=swap");
.navbar {
  height: 9rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #ebd8c3;
}

.nav-item {
  color: #665a48;
  border-right: 2px solid #b09b71;
  width: 9rem;
  padding: 0;
  text-align: center;
  text-decoration: none;
}

.container-fluid {
  border-bottom: 2px solid #b09b71;
}

.nav-item:hover {
  color: #a47e3b;
  transition: 0.7s;
}

.line-navbar {
  background-color: #fff8ea;
  height: 1rem;
}

.button-navbar {
  position: absolute;
  right: 0;
  margin-right: 1rem;
}

.btn {
  margin: 0 0.3rem;
  background-color: #ceab93;
  border: 0px;
  color: #665a48;
  font-weight: bold;
}
.btn:hover {
  background-color: #eec373;
}

.user-dropdown {
  padding: 3rem 5rem;
}

.image-item {
  width: 1.5rem;
  margin: 0 2.3rem;
  margin-right: 0;
}

.main-logo {
}
