@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@500&family=Montserrat:wght@300;500;700&family=Nunito+Sans:wght@600;800&display=swap");


.navbar-container{
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  border-bottom: 2px solid #a47e3b;
  background-color: #FFF8EA;
  padding: 0px;
}

.navbar{
  padding: 0px;
}

.nav-item {
  color: #665a48;
  text-align: center;
  padding: 0;
  text-decoration: none;
}

.nav-item:hover {
  color: #a47e3b;
  transition: 0.7s;
}

.line-navbar {
  background-color: #fff8ea;
  height: 1rem;
}

.button-navbar {
  position: absolute;
  right: 0;
  margin-right: 1rem;
}

.btn {
  margin: 0 0.3rem;
  background-color: #ceab93;
  color: #665a48;
  font-weight: bold;
  border: 0px;
}
.btn:hover {
  background-color: #eec373;
}

.user-dropdown {
  padding: 3rem 5rem;
}

.image-item {
  width: 1.5rem;
  margin: 0 2.3rem;
  margin-right: 0;
}

.row-navbar{
  height: 100%;
}

<<<<<<< HEAD
.profile-user {
  text-decoration: none;
  color: black;
}
=======
.row-navbar .col-lg-2{
  text-align: center;
  padding: 2rem 1rem;
}

.row-navbar .nav-item-all:hover{
  background-color: #F5E8C7;
  transition: 1s;
}


@media only screen and (max-width: 1117px) {
  .navbar{
    height: 30%;
  }
  .row-navbar{
    margin: 1rem 0;
  }
}
>>>>>>> ce88e27ba409e87196c6f6d58ec56bcd6e2dc485
