.section-food {
  margin-top: 50px;
  margin-bottom: 50px;
}

.post-form {
  margin-top: 50px;
  margin-bottom: 50px;
}

.post-food-title {
  display: flex;
  margin: auto;
  justify-content: center;
  margin-top: 50px;
  font-size: 36px;
  font-weight: 400;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: goldenrod;
}

.col-post-food {
  border: 5px solid dimgrey;
  border-radius: 20px;
}

.uploadpost-button{
  margin: 2rem;
}

.uploadpost-button a{
  text-decoration: none;
  font-size: 1.3rem;
  padding: 0.7rem;
  background-color: #9E7676;
  color: #FAF7F0;
  border-radius: 1.4rem;
}

.uploadpost-button a:hover{
  background-color: #CFB997;
  transition: 1s;
}

.myfood-item{
  background-color: #fcfefe;
}