.post-form {
  margin-top: 50px;
  margin-bottom: 50px;
}

.post-food-title {
  display: flex;
  margin: auto;
  justify-content: center;
  margin-top: 50px;
  font-size: 36px;
  font-weight: 400;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: goldenrod;
}

.col-post-food {
  border: 5px solid dimgrey;
  border-radius: 20px;
}
