.search-home-page {
  display: flex;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 50%;
}

.section-search {
  background-color: #dfd3c3;
}

.search-home-page-result {
  margin-left: 39vh;
}

.btn-search {
  width: 22%;
}

.Nav-search-bg {
  background-color: #dfd3c3;
}

.food-round-here {
  margin-top: -10px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
  color: green;
}
