.search-box {
  display: flex;
  padding: 0 1rem;
  width: 40%;
}

.btn-search {
  width: 15%;
}

.Nav-search-bg {
  background-color: white;
}

.food-round-here {
  margin-top: -10px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
  color: green;
}
