.search-box {
  display: flex;
  margin: auto;
  width: 45%;
}

.btn-search {
  width: 22%;
}

.Nav-search-bg {
  background-color: #fff8ea;
}

.food-round-here {
  margin-top: -10px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
  color: green;
}
