@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@500&family=Montserrat:wght@300;500;700&family=Nunito+Sans:wght@600;800&display=swap');
.store-food{
    border-top: 2px solid #B09B71;
    padding-top: 1rem;
}

h3{
    font-size: 1.3rem;
    font-weight: bold;
    color: #665A48;
}

p{
    color: #865439;
}

.near-food{
    border-bottom: 2px solid #B09B71;
    margin: 2rem 10rem;
    padding: 1rem 0;
}

.food-name{
    display: none;
}

.food-name:hover{
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
}

.background {
    top: -40px;
    left: -40px;
    height: 120%;
    width: 120%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

.card {
    background-color: #FFF6EA;
    width: 16rem;
    margin: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #AD8B73;
    box-shadow: 0 0 30px -10px black;
    overflow: hidden;
}

.card-blur {
    position: absolute;
    height: 100%;
    width: calc(100%);
    background-color: #FFF8EA;
    opacity: 0;
    transition: opacity 0.15s ease-in;
}

.card:hover .card-blur {
    opacity: 0.6;
}

.footer {
    z-index: 1;
    position: absolute;
    height: 100px;
    width: 100%;
    bottom: 0;
}

svg#curve {
    position: absolute;
    fill: white;
    left: 0;
    bottom: 0;
    width: 100%;
}

.connections {
    height: 80px;
    width: 400px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100px;
    margin: auto;
}

.connection {
    border-radius: 100%;
    background-color: white;
    display: inline-block;
    margin: 1rem;
    transform: translateY(200px);
    transition: transform 1s cubic-bezier(.46, 1.48, .18, .81);
}

.card:hover .connection {
    transform: translateY(0px);
}

.info {
	font-family: 'Montserrat', sans-serif;
    padding-left: 20px;
    transform: translateY(250px);
    transition: transform 1s cubic-bezier(.31,1.21,.64,1.02);
}

.card:hover .info {
    transform: translateY(0px);
}

.name {
    font-weight: bolder;
    padding-top: 5px;
}

.job {
    margin-top: 10px;
}

.connection.facebook {
    height: 35px;
    width: 35px;
    margin-left: 20px;
    padding: 0px;
    border-radius: 100%;
    overflow: hidden;
}

.connection.twitter {
    transition-delay: 0.06s;
}

.connection.behance {
    transition-delay: 0.12s;
}

.connection.facebook .icon {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color: black;
}

.connection.twitter .icon {
    height: 18px;
    width: 18px;
    margin-top: 4px;
    margin-left: 4px;
    background-position: center;
    background-size: cover;
}

.connection.behance .icon {
    height: 18px;
    width: 18px;
    margin-top: 3px;
    margin-left: 4px;
    background-position: center;
    background-size: cover;
}

.card-store-food{
    height: 30rem;
}
